language: php

matrix:
  fast_finish: true
  include:
    - env: DB=mysql; MW=master; SMW=~3.0@dev
      php: 5.6
    - env: DB=mysql; MW=1.28.2; SMW=~3.0@dev; TYPE=coverage
      php: 7.0
    - env: DB=sqlite; MW=1.28.2; SMW=~3.0@dev
      php: 7.0
    - env: DB=mysql; MW=1.27.3; SMW=~3.0@dev
      php: 5.6
    - env: DB=postgres; MW=1.27.3; SMW=~3.0@dev
      php: 5.6
    - env: DB=mysql; MW=1.23.17; SMW=~3.0@dev; PHPUNIT=4.8.*
      php: 5.6
  allow_failures:
    # Test previous versions to get an indication of actual loss of compatibility
    - env: DB=mysql; MW=1.23.17; SMW=~3.0@dev; PHPUNIT=4.8.*
      php: 5.6

install:
  - bash ./build/travis/install-mediawiki.sh
  - bash ./build/travis/install-semantic-result-formats.sh

script:
  - bash ./build/travis/run-tests.sh

cache:
  directories:
    - $HOME/.composer/cache
