/**
 * CSS for the SRF event calendar module
 *
 * @since 1.9
 * @release 0.7.4
 *
 * @file
 * @ingroup SRF
 *
 * @licence GNU GPL v2 or later
 * @author mwjames
 */

.srf-top {
	margin-bottom: 5px;
}

.srf-bottom {
	margin-bottom: 5px;
}

.srf-ui-legendList, .srf-ui-legendList-sel {
	color: #222;
	/*line-height: 30px;*/
	/* background-color: #eee; */
}

.srf-ui-legendList.top {
	margin: 0 0 10px 0;
}

.srf-ui-legendList.bottom {
	margin: 10px 0 0 0;
}

.srf-ui-legendList.basic {
	background-color: #fff;
	border: 1px solid gainsboro;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.srf-ui-legendList.top.basic {
	background-image: -webkit-linear-gradient(top,white,#F6F8F9);
	background-image: linear-gradient(top,white,#F6F8F9);
}

.srf-ui-legendList.bottom.basic {
	background-image: -webkit-linear-gradient(bottom,white,#F6F8F9);
	background-image: linear-gradient(bottom,white,#F6F8F9);
}

.srf-ui-legendList ul {
	list-style-type: none;
	list-style-image: none;
	margin: .3em 0 0 0.6em;
	width: 100%;  /* room for 3 columns */
	overflow: hidden;
}

.srf-ui-legendList ul li {
	float: left;
	width: 23%;  /* accommodate the widest item */
	margin-right: 15px;
	font-size: 90%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.srf-ui-legend-label, .srf-ui-legend-label-sel {
	font-size: 12px;
	font-family: Arial,sans-serif;
	white-space: nowrap;
	vertical-align: top;
}

.srf-ui-legend-square {
	list-style-type: square;
	background: white;
	/*border: 1px solid gainsboro;*/
	height: 10px;
	margin-right: 4px;
	position: relative;
	top: 3px;
	width: 10px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 10px;
	float: left;
	padding: 1px;
}

.srf-ui-legend-tooltip-content ul {
	list-style-type: none;
	list-style-image: none;
	width: 100%;  /* room for 3 columns */
	overflow: hidden;
	margin: .3em 0 0 0.6em;
}

.srf-ui-legend-tooltip-content ul li {
	margin-right: 15px;
	font-size: 90%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.srf-ui-legend-tooltip-content {
	display:none;
}

.srf-ui-square {
	position: relative;
	float: left;
	top: 25%;
	border: 3px solid #48A0D5;
	width: 6px;
	height: 6px;
}

.srf-ui-circle {
	position: relative;
	top: 25%;
	border-radius: 6px; /* border-radius value should be in px/em because some browsers do not support */
	width: 12px;
	height: 12px;
	background: #BF381A;
}

/* @since 0.7.3, using widget class */

.srf-calendarpane {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	display:none;
	min-width: 17em; /* Min width for the paneView */
}

.srf-calendarpane fieldset {
	border: 1px solid #2F6FAB;
	margin: 0.1em 0.1em 0.1em 0.1em;
	padding: 0 0.5em 0.5em 0.5em;
	line-height: 1.5em;
	border: 1px solid gainsboro;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;

}

.srf-calendarpane fieldset label {
	vertical-align: top;
}

.srf-calendarpane .section-header {
	color: black;
	background: none;
	font-weight: normal;
	margin: 0;
	overflow: hidden;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: none;
	font-weight: bold;
	font-size: 132%;
}

.srf-calendarpane .ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.srf-calendarpane .ui-sortable-placeholder {
	visibility: hidden;
}

.srf-calendarpane .reset-link {
	background-color:white;
	border:0;
	color:blue;
	text-decoration:underline;
	font-size:1em;
	font-family:inherit;
	cursor:pointer;
	float: right;
	margin-right: 3px;
}

.srf-calendarpane .mini-calendar {
	background-color: #fff;
}

.srf-calendarpane .mini-calendar .options {
	margin-top: 0px;
	width: 100%;
}

.srf-calendarpane .mini-calendar .options input {
	padding: 3px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #CECECE;
	outline: none;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.srf-calendarpane .select-wrap-chrome, .srfcalendar-pane .select-wrap-safari {
	padding-bottom: 4px;
}

.srf-calendarpane .select-wrap-firefox {
	padding-top: 5px;
	padding-bottom: 5px;
}

.srf-calendarpane select {
	width: 100%;
	padding: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #CECECE;
	outline: none;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}

.srf-calendarpane .mini-calendar .options .input-right {
	float:right;
}

.srf-calendarpane input[readonly="readonly"] {
	background-color: #eee;
}

.srf-calendarpane .legend {
	margin-top: 5px;
	margin-bottom: 0px;
}

.srf-calendarpane .legend fieldset {
	background-color: #fff;
}

.srf-calendarpane .parameters {
	margin-top: 5px;
}

.srf-calendarpane .parameters fieldset {
	background-color: #fff;
}

.srf-calendarpane .parameters .limitparam {
	padding: 0.5em;
}

.srf-calendarpane .parameters .label {
	overflow: hidden;
	float:left;
	margin-right: 5px;
}

.srf-calendarpane .parameters .limitparam .value {
	overflow: hidden;
	float:left;
	margin-right: 5px;
}

.srf-calendarpane .parameters .limitparam .count {
	float:right;
}

.srf-calendarpane .parameters .slider {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 3px;
}

.srf-ui-legendList.pane {
	margin-top: 0px;
}

.srf-ui-legendList.pane ul {
	list-style-type: none;
	list-style-image: none;
	margin: .3em 0 0 0.6em;
	width: 100%;  /* room for 3 columns */
	overflow: hidden;
}

.srf-ui-legendList.pane ul li {
	float: none;
	width: 100%;
	margin-right: 15px;
	font-size: 90%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.srf-legend-item input {
	/* float: left; */
	margin-right: 5px;
}

/* Datepicker uses auto width */
.srf-calendarpane .ui-datepicker {
 width: auto;
}

.srf-calendarpane .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all, .srf-calendarpane a.ui-slider-handle {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.srf-calendarpane .parameter-section {
	font-size: 110%;
}

.srf-calendarpane .limitparam .parameter-section {
	margin-left: 0;
	margin-top: 5px;
	margin-bottom:5px;
}

.srf-calendarpane .minmax .parameter-section {
	margin-left: 5px;
	margin-top: 0;
	margin-bottom:5px;
}

.srf-calendarpane .filterparam .parameter-section {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom:5px;
}

.srf-calendarpane .mini-calendar .options input#to {
	margin-left: 5px;
}

fieldset input#max {
	margin-left: 5px;
}
