/*
	Stylesheet for the value filter
*/

.filtered-filters .filtered-number { 
	overflow: visible;
	border: 1px solid #aaa;
	padding: 1em 1em 0.5em;
	margin: 1em;
}

.filtered-filters .filtered-number .filtered-number-label {
	height: 0;
}

.filtered-filters .filtered-number .filtered-number-label span { 
	background-color: white;
	font-weight: bold;

	position: relative;
	top: -1.8em;
	left: 0;
	
	padding: 0 1em;
}

.filtered-filters .filtered-number .ui-slider-handle {
	outline: none;
	text-decoration: none;
	width: 0;
	padding: 0 0.6em;
}

.filtered-filters .filtered-number .filtered-number-readout { 
	margin: 0;
	text-align: center;
	position: relative;
	top: 1em;
	left: -50px;
	width: 100px;
	color: #000;
}

.filtered-filters .filtered-number .filtered-number-table { 
	border-collapse: collapse;
}

.filtered-filters .filtered-number .filtered-number-min-cell,
.filtered-filters .filtered-number .filtered-number-max-cell {
	padding-bottom: 1em;
}

.filtered-filters .filtered-number .filtered-number-slider-cell {
	width: 100%;
	height: 2.2em;
	padding: 0 1em 1em 1em;
}

.filtered-filters .filtered-number .filtered-number-slider {
	border: 1px solid #aaa;
	border-radius: 3px;
	background: #f1f2ff;
	margin: 0 1em;
}

.filtered-filters .filtered-number .filtered-number-caption-cell {
	height: 1.8em;
	text-align: center;
	vertical-align: bottom;
}
