/**
 * CSS for SRF gridview plugin
 * @see http://www.semantic-mediawiki.org/wiki/Help:Gridview
 *
 * @since 1.8
 * @release 0.2
 *
 * @file
 * @ingroup SRF
 *
 * @licence GPL-2.0-or-later
 * @author mwjames
 */
/* Changes have to comply with UI_BASE */
.srf-gridview-query-link {
	font-size:12px;
	font-weight: normal;
	margin-top:4px;
	margin-right:3px;
	color:#ddd;
	float:right;
}