/**
 * CSS for SRF common objects
 *
 * @since 1.8
 * @release 0.1
 *
 * @file
 * @ingroup SRF
 *
 * @licence GNU GPL v2 or later
 * @author mwjames
 */

.srf-processing-text{
	padding-left: 2.1em;
	font-size: 12px;
	vertical-align: middle;
}

.srf-processing {
	vertical-align: middle;
	background-color: white;
	color: #666;
	display:inline-block;
	/* @embed */ background: url(images/spinner.gif) no-repeat left bottom;
}