/**
 * CSS for SRF jqplot module
 * *
 * @licence: GNU GPL v2 or later
 * @author:  mwjames
 *
 * @release: 0.1
 */
.srf-jqplot-plot.tabs {
	margin-bottom: 10px;
}

.srf-jqplot-chart-text {
	color:grey;
	display:block;
	position:relative;
	font-size:90%;
	margin-bottom: 10px;
	margin-right: 10px;
}

.srf-jqplot-chart-text.tabs {
	font-size:120%;
	margin-left: 10px;
	margin-bottom: 10px;
}

.srf-jqplot-chart-text.pie,
.srf-jqplot-chart-text.donut {
	margin-left: 10px;
}