/**
 * CSS for SRF gallery redirect module
 *
 * @licence: GNU GPL v2 or later
 * @author:  mwjames
 *
 * @since: 1.8
 *
 * @release: 0.1
 */

.srf-redirect li {
	position: relative;
}

.srf-redirect .redirect {
	width: 20px;
	height: 18px;
	display: block;
	position: absolute;
	top: 12px;
	margin-left: 12px;
	/* @embed */ background: url(images/gallery-redirect.png) no-repeat;
}