
.dt-filter {
	float: left;
}

.dt-length {
	float: right;	
}

.srf-datatable .srf-datatable-left {
	float: left;
}

.srf-datatable .srf-datatable-right {
	float: right;
}

.srf-datatable .dt-buttons {
	margin-right: 0.334em;
}

.srf-datatable .dt-filter {
	margin-right: 0.334em;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-messageWidget-showClose {
	padding-right: 56px;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-messageWidget-close {
	position: absolute;
	top: 8px;
	right: 8px;
}

div.dt-processing {
	/* background: white; */
	/* box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.12); */
	z-index: 1000;
	position: sticky !important;
}

div.dt-processing > div:last-child > div {
	background: rgb(13,110,253);
}


