
.srf-datatable .srf-datatable-left {
	float: left;
}

.srf-datatable .srf-datatable-right {
	float: right;
}


.srf-datatable .dataTables_filter {
	float: left;

}

.srf-datatable .dataTables_length {
	float: right;	
}

.srf-datatable .dt-buttons {
	margin-right: 0.334em;
}

.srf-datatable .dataTables_filter {
	margin-right: 0.334em;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-messageWidget-showClose {
	padding-right: 56px;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-messageWidget-close {
	position: absolute;
	top: 8px;
	right: 8px;
}


