name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:

  test:

    runs-on: ubuntu-20.04
    continue-on-error: ${{ matrix.experimental }}

    strategy:
      matrix:
        include:
          - mediawiki_version: '1.35'
            smw_version: '4.1.3'
            php_version: 7.4
            database_type: mysql
            database_image: "mysql:5.7"
            coverage: true
            experimental: false
          - mediawiki_version: '1.35'
            smw_version: dev-master
            php_version: 7.4
            database_type: mysql
            database_image: "mysql:5.7"
            coverage: false
            experimental: false
          - mediawiki_version: '1.39'
            smw_version: dev-master
            php_version: 8.1
            database_type: mysql
            database_image: "mariadb:10"
            coverage: false
            experimental: true
#          - mediawiki_version: '1.40'
#            smw_version: dev-master
#            php_version: 8.1
#            database_type: mysql
#            database_image: "mariadb:10"
#            coverage: false
#            experimental: true

    env:
      MW_VERSION: ${{ matrix.mediawiki_version }}
      SMW_VERSION: ${{ matrix.smw_version }}
      PHP_VERSION: ${{ matrix.php_version }}
      DB_TYPE: ${{ matrix.database_type }}
      DB_IMAGE: ${{ matrix.database_image }}

      
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
                   
      - name: Update submodules
        run: git submodule update --init --remote

      - name: Run tests
        run: make ci
        if: matrix.coverage == false

      - name: Run tests with coverage
        run: make ci-coverage
        if: matrix.coverage == true

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
        with:
          files: coverage/php/coverage.xml
        if: matrix.coverage == true
